.inside_wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0.5rem 1rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 1px 3px 4px 2px rgb(217, 222, 226);
}

.details_wrapper img {
    height: 8rem;
    width: 60%;
    border: 1px dashed black;
    padding: 0.5rem 3rem;
}

.pName {
    background-color: #f1e9e9;
    width: 96%;
    padding-left: 0.5rem;
    color: #3d3b3b;
}

.variant {
    display: flex;
    justify-content: space-between;
}

.pQuantity {
    background-color: #f1e9e9;
    width: 7rem;
    padding-left: 0.5rem;
    color: #3d3b3b;
}

.pColor {
    background-color: #f1e9e9;
    width: 7rem;
    padding-left: 0.5rem;
    color: #3d3b3b;
}

.pPrice {
    background-color: #f1e9e9;
    width: 96%;
    padding-left: 0.5rem;
    color: #3d3b3b;
}

.pButtons {
    display: flex;
    justify-content: center;
}

.pButtons button {
    margin-top: 0.7rem;
    padding: 0.5rem 1.6rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgb(64, 67, 236);
    color: white;
}